<div id="{{elementId}}" style="width: 100%; height: 400px;"></div>

<div class='labelWrapper'>
    <app-geo-range [defaultColor]="'#264452'" [defaultSize]="'No data'"></app-geo-range>
    <app-geo-range [defaultColor]="'#447e97'" [defaultSize]="'10+'"></app-geo-range>
    <app-geo-range [defaultColor]="'#49bdca'" [defaultSize]="'100+'"></app-geo-range>
    <app-geo-range [defaultColor]="'#00cfca'" [defaultSize]="'1000+'"></app-geo-range>
    <app-geo-range [defaultColor]="'#00fff9'" [defaultSize]="'5000+'"></app-geo-range>
</div>

