@import '~admin/scss/base/_variables.scss';
:host {
    @include respond-to('medium') {
        display: none;
    }
    float: left;
}

.breadcrumb {
    @include respond-to('medium') {
        font-size: $base-font-size;
        margin-top: 18px;
    }
    font-size: $base-font-size + 2;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: left;
    color: rgba(0, 255, 249, 0.9);
    text-transform: uppercase;
    margin-top: 30px;

    li {
        float: left;

        &:first-child {
            &:before {
                content: '/';
                display: inline-block;
                margin: 0 ;
            }
        }

        &:after {
            content: '/';
            display: inline-block;
            margin: 0 11px 0 1px;
        }
    }
}