@import '~admin/scss/base/_variables.scss';

:host {
    @include respond-to('extra-large') {
        width: 272px;
    }
     @include respond-to('medium-large') {
        width: 232px;
    }
    @include respond-to('medium') {
        margin-bottom: 36px;
        padding: 14px 20px 14px;
        width: 280px;
        top: 0;
    }

    background: $dark-green-blue;
    width: 100%;
    margin-bottom: 48px;
    display: block;
    padding: 26px 20px 14px;
    position: fixed;
    width: 332px;
    top: 0;
    left: 0;

    .storeManager {
        font-size: $base-font-size - 2;
        font-weight: 300;
        letter-spacing: 0.5px;
    }
}

.helpNav {
    @include respond-to('small') {
        margin-top: 23px;
    }
    margin-top: 43px;

    li {
        display: inline-block;
        margin: 0 4px;
        cursor: pointer;
        transition: opacity 0.5s ease-out;
        opacity: 0.5;

        a {
            color: $white;
        }

        &.active {
            opacity: 1;
        }

        i {
            font-size: $base-font-size + 5;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.userAvatar {
    margin-bottom: 7px;

    @include respond-to('small') {
        svg {
            height: 100px;
        }
    }

    i {
        font-size: $base-font-size + 102;
    }
}
