<h3 tabindex=0>DIRECT LINK</h3>
<div class="promoCode">
    <div class="codeContent">
        <p> {{directLink}} </p>
    </div>
    <app-copy-svg [copySting]="directLink"></app-copy-svg>
</div>
<h3>EMBED CODE</h3>
<p>Paste the following code on the page where you want to place a Düzy player. Only one time, before &lt;/body&gt; tag.</p>
<div  class="promoCode">
    <div  class="codeContent">
        <p>{{jscode}}</p>
    </div>
    <app-copy-svg [copySting]="jscode"></app-copy-svg>
</div>
<p>Paste the following code in place where you want to display Düzy player on your website.</p>
<div  class="promoCode">
    <div  class="codeContent">
        <p>{{frame}}</p>
    </div>
    <app-copy-svg [copySting]="frame"></app-copy-svg>
</div>