:host {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    font-size: 16px;
}

.colorLabel {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}