<form (ngSubmit)="resetF.valid && onReset()" class="authForm" #resetF="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': resetF.submitted && !password.valid }">
            <label class="label" for="">New password</label>
            <input
                [type]="showPassword ? 'text' : 'password'"
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="user.password"
                required
                maxlength="30"
                minlength="8"
                validateEqual="confirmPassword"
                reverse="true"
                #password="ngModel">
            <span class="changeTypePass" (click)="showPassword = !showPassword"><i class="material-icons">{{ (showPassword ? 'visibility' : 'visibility_off')}}</i></span>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': resetF.submitted && !confirmPassword.valid }">
            <label class="label" for="">Confirm new password</label>
            <input
                [type]="showConfPassword ? 'text' : 'password'"
                type="password"
                class="form-control"
                name="confirmPassword"
                [ngModel]="user.confirmPassword"
                required
                maxlength="30"
                minlength="8"
                validateEqual="password"
                reverse="false"
                #confirmPassword="ngModel">
            <span class="changeTypePass" (click)="showConfPassword = !showConfPassword"><i class="material-icons">{{ (showConfPassword ? 'visibility' : 'visibility_off')  }}</i></span>
        </div>
    <p class="textCenter submitBtnWrap"><app-button><span>Reset</span></app-button></p>
</form>
<div [@popOverState]="checkValidity(password, confirmPassword, resetF)" class="errorWrap">
    <i class="material-icons">error</i>
    <show-errors [form]="resetF" [control]="password"></show-errors>
    <show-errors [form]="resetF" [control]="confirmPassword"></show-errors>
      <div class="errorLine" *ngIf="show">{{serverError}}</div>
</div>
