@import '~admin/scss/base/_variables.scss';
.copy {
    @include respond-to('medium') {
        padding: 0 5px;
    }
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    
    &:hover {
        background: rgba(0, 0, 0, 0.4);
    }

    svg {
        @include respond-to('medium') {
            width: 10px;
        }

        path {
            opacity: 0.9;
        }
    }
}