@import '../../../app.component.scss';

:host {
    @include respond-to('small') {
        min-width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
    background: rgba(0, 0, 0, 0.2);
    min-width: 480px;
    max-width: 480px;
    margin: 0 auto;
    display: block;
    align-self: center;
}

.regLink {
    margin-top: 50px;
    margin-bottom: 10px;
}

.errorLine {
    color: $watermelon;

    &:first-letter {
        text-transform: uppercase;
    }
}

